# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Project 3.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\matth\RiderProjects\Project 3\.idea\.idea.Project 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
